@import "../../scss/global.scss";
@import url(https://fonts.googleapis.com/css?family=Raleway);

.navWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 140px;
  @include for-mobile-screen {
    flex-wrap: nowrap;
    padding: 40px 24px;
  }
  .linkWrap {
    display: flex;
    align-items: center;

    li {
      color: $brown;
      list-style: none;
      &:hover {
        color: #7d6a397a;
        letter-spacing: 2px;
        transition: 0.5s;
      }
    }
    li:nth-child(1) {
      padding-left: 16px;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 48px 200px;
  justify-content: space-evenly;
  @include for-mobile-screen {
    justify-content: center;
    padding: 32px 24px;
  }

  .card {
    margin: auto;
    height: 200px;
    flex: 1 1 200px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  padding-bottom: 160px;
  @include for-mobile-screen {
    padding-bottom: 80px;
  }

  .recipesWrap {
    display: flex;
    padding: 0px 100px;

    .infoWrap {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
    }
  }

  .descriWrap {
    padding: 12px 24px;
    .moreBtn {
      background-color: white;
      padding: 6px 8px;
      font-size: 12px;
      color: #7e825f;
    }
  }
}

.tabsContainer {
  max-width: 80%;
  margin: auto;
  @include for-mobile-screen {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 96%;
  }

  .tabsWrap {
    border-radius: 24px;
    padding: 16px 24px;
    background-color: $darkGreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media only screen and (max-width: 689px) {
      overflow: auto;
      white-space: nowrap;
      flex-wrap: nowrap;
      justify-content: flex-start;
      border-radius: 12px;
      padding: 12px;
    }

    button {
      letter-spacing: 0;
      transition: 0.3s;
      @include for-mobile-screen {
        margin-right: 12px;
        padding: 8px 10px;
        font-size: 13px;
        img {
          width: 24px;
        }
      }
    }

    .active {
      background-color: $lightGreen;
      color: $lightGreenTextColor;
      &:hover {
        background-color: #becc91;
        color: #7e825f;
      }
      img {
        margin-right: 4px;
      }
    }

    .inActive {
      background-color: $beige;
      color: $lightGreenTextColor;
      &:hover {
        background-color: #dae2c9;
        color: #7e825f;
      }
      img {
        margin-right: 4px;
      }
    }
  }
}

.cookTimeWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .iconWrap {
    display: flex;
    align-items: center;
  }

  img {
    margin-right: 2px;
  }
  p {
    margin-right: 12px;
  }
}

.label {
  display: inline-flex;
  height: 30px;
  align-items: center;
  background-color: #efefef;
  color: $lightGreenTextColor;
  padding: 4px 12px;
  border-radius: 16px;
  .tag {
    font-family: $secondaryFont;
    padding-left: 0px;
    font-size: 15px;
  }
}

.ingredWrap {
  p {
    display: flex;
    align-items: center;
    img {
      margin-right: 4px;
    }
  }
}

.stepIngredWrap {
  background-color: white;
  padding: 12px 24px;
  border-radius: 16px;

  .ingred {
    padding: 24px;
  }
  h4 {
    display: flex;
    align-items: center;
    font-family: $secondaryFont;

    img {
      margin-right: 8px;
    }
  }

  .steps {
    padding: 24px;
  }
}

.img {
  border-radius: 16px;
  display: block;
  max-width: 400px;
  max-height: 460px;
  height: 460px;
  margin: auto;
  @include for-mobile-screen {
    max-width: 280px;
    max-height: 340px;
  }
}

.footer {
  margin-top: 100px;
  @include for-mobile-screen {
    margin-top: 0px;
  }
}
footer {
  background-color: $darkGreen;
  display: flex;
  justify-content: space-between;
  padding: 100px 140px;
  @include for-mobile-screen {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
  }

  .newsWrap {
    p {
      font-size: 24px;
      color: $beige;
      @include for-mobile-screen {
        font-size: 20px;
      }
    }
    .inputBtnWrap {
      display: flex;
      @include for-mobile-screen {
        flex-direction: column;
      }
      input {
        background-color: $beige;
        border: none;
        border-radius: 8px;
        padding: 12px 48px 12px 24px;
        font-size: 14px;
      }
      .newsBtn {
        margin-left: 16px;
        display: flex;
        align-items: center;
        background-color: $lightGreen;
        @include for-mobile-screen {
          justify-content: space-between;
          margin-left: 0px;
          width: 100%;
          margin-top: 12px;
          padding: 8px 16px;
          font-size: 14px;
        }
        &:hover {
          background-color: white;
          letter-spacing: 2px;
          transition: 0.7s;
        }

        img {
          padding-left: 4px;
          @include for-mobile-screen {
            padding-left: 0px;
          }
        }
      }
    }
  }

  .socialWrap {
    padding-top: 32px;

    a {
      align-content: center;
      justify-content: center;
    }

    a:not(.x) {
      padding-right: 16px;
    }
    @include for-mobile-screen {
      display: flex;
    }
  }
}
