@import "../../scss/global.scss";

.navWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 140px;
  @include for-mobile-screen {
    flex-wrap: nowrap;
    padding: 40px 24px;
  }
  .linkWrap {
    display: flex;
    align-items: center;

    li {
      color: $brown;
      list-style: none;
      cursor: pointer;

      &:hover {
        color: #7d6a397a;
        letter-spacing: 2px;
        transition: 0.5s;
      }
    }
    li:nth-child(1) {
      padding-left: 16px;
    }
  }
}

.heroWrap {
  display: flex;
  justify-content: space-between;
  padding: 0px 140px;
  @include for-mobile-screen {
    padding: 0px 24px;
    flex-direction: column;
  }
  img {
    @include for-mobile-screen {
      margin-top: 32px;
      max-width: 90%;
      margin: 40px auto;
    }
  }

  .titleWrap {
    padding-right: 24px;
    @include for-mobile-screen {
      padding-right: 0px;
    }

    h3 {
      font-weight: 600;
      font-size: 48px;
      letter-spacing: 4px;
      @include for-mobile-screen {
        font-size: 32px;
      }
    }
    p {
      font-size: 32px;
      line-height: 140%;
      @include for-mobile-screen {
        font-size: 24px;
      }
    }
  }
}

.girlBg {
  margin-top: 400px;
  width: 100%;
  height: auto;
  position: relative;
  background-color: $lightGreen;

  .girl {
    display: inline-block;
    position: absolute;
    z-index: 100;
    top: -240px;
    right: 400px;
    @include for-mobile-screen {
      right: auto;
    }
  }
  .wrap {
    padding: 100px 140px;
    display: flex;
    @include for-mobile-screen {
      flex-direction: column;
      padding: 100px 24px;
    }
    img {
      @include for-mobile-screen {
        max-width: 90%;
        margin: 56px auto;
      }
    }
    .titleWrap {
      color: $lightGreenTextColor;
      padding: 32px 0 0 32px;
      @include for-mobile-screen {
        padding: 24px 0px;
      }
      h3 {
        font-weight: 600;
        font-size: 48px;
        letter-spacing: 4px;
        @include for-mobile-screen {
          font-size: 32px;
        }
      }
      p {
        font-size: 32px;
        line-height: 140%;
        @include for-mobile-screen {
          font-size: 24px;
        }
      }
    }
  }
}

.brownieWrap {
  margin-top: 100px;
  display: flex;
  padding: 100px 140px;
  @include for-mobile-screen {
    img {
      max-width: 90%;
      margin: auto;
    }
    flex-direction: column;
    padding: 100px 24px;
    margin-top: 0px;
  }
  .titleWrap {
    padding-right: 24px;
    @include for-mobile-screen {
      padding-right: 0px;
    }
    h3 {
      font-weight: 600;
      font-size: 48px;
      letter-spacing: 4px;
      @include for-mobile-screen {
        font-size: 32px;
      }
    }
    p {
      font-size: 32px;
      line-height: 140%;
      @include for-mobile-screen {
        font-size: 24px;
      }
    }
  }
}

.boyBg {
  margin-top: 400px;
  padding-bottom: 100px;
  width: 100%;
  height: auto;
  position: relative;
  background-color: $lightGreen;

  .boy {
    display: inline-block;
    position: absolute;
    z-index: 100;
    top: -270px;
    right: 400px;
    @include for-mobile-screen {
      right: auto;
    }
  }
  .wrap {
    padding: 100px 140px;
    display: flex;
    @include for-mobile-screen {
      img {
        max-width: 90%;
        margin: 56px auto;
      }
      padding: 100px 24px;
      flex-direction: column;
    }
    .titleWrap {
      color: $lightGreenTextColor;
      padding: 32px 0 0 32px;
      h3 {
        font-weight: 600;
        font-size: 48px;
        letter-spacing: 4px;
        @include for-mobile-screen {
          font-size: 32px;
        }
      }
      p {
        font-size: 32px;
        line-height: 140%;
        @include for-mobile-screen {
          font-size: 24px;
        }
      }
    }
  }
}

footer {
  background-color: $darkGreen;
  display: flex;
  justify-content: space-between;
  padding: 100px 140px;
  @include for-mobile-screen {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
  }

  .newsWrap {
    p {
      font-size: 24px;
      color: $beige;
      @include for-mobile-screen {
        font-size: 20px;
      }
    }
    .inputBtnWrap {
      display: flex;
      @include for-mobile-screen {
        flex-direction: column;
      }
      input {
        background-color: $beige;
        border: none;
        border-radius: 8px;
        padding: 12px 48px 12px 24px;
        font-size: 14px;
      }
      .newsBtn {
        margin-left: 16px;
        display: flex;
        align-items: center;
        background-color: $lightGreen;
        @include for-mobile-screen {
          justify-content: space-between;
          margin-left: 0px;
          width: 100%;
          margin-top: 12px;
          padding: 8px 16px;
          font-size: 14px;
        }
        &:hover {
          background-color: white;
          letter-spacing: 2px;
          transition: 0.7s;
        }

        img {
          padding-left: 4px;
          @include for-mobile-screen {
            padding-left: 0px;
          }
        }
      }
    }
  }

  .socialWrap {
    padding-top: 32px;

    a {
      align-content: center;
      justify-content: center;
    }

    a:not(.x) {
      padding-right: 16px;
    }
    @include for-mobile-screen {
      display: flex;
    }
  }
}
